* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "bebas neue";
  src: url("/eksamen2025/fonts/BebasNeue-Regular.ttf") format("woff");
}

body {
  background-image: url("/eksamen2025/img/baggrund-medstreger.webp");
}

h1 {
  font-family: "bebas neue";
  color: #c62d26;
  font-size: 8rem;
  padding-bottom: 2rem;
  text-align: center;
  padding-top: 6rem;
}

.billedegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 4rem;
}
.billedegrid img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
}

.brystvortegrid img:nth-child(3),
.brystvortegrid img:nth-child(4) {
  margin-top: 4rem;
}

.brystvortegrid img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-bottom: 6rem;
}

.afslutknap {
  position: absolute;
  width: 142px;
  height: 135px;
  bottom: 0;
  right: 0;
}
