* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "bebas neue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("woff");
}

body {
  background-image: url("./img/baggrund-medstreger.webp");
}
.background {
  background-image: url("./img/baggrundsbryster.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-family: "bebas neue";
  color: #c62d26;
  font-size: 8rem;
  padding-bottom: 2rem;
  text-align: center;
  padding-top: 6rem;
}

.afslutknap {
  position: absolute;
  width: 142px;
  height: 135px;
  bottom: 0;
  right: 0;
}
